<ion-view view-title="Employees Comments">
	<ion-floating-button click="showAddComment()"  has-footer="false" button-color="#0040FF" icon="ion-plus" iconColor="#fff">
	</ion-floating-button>
	<ion-content >
	    <div class="list">
		    <a class="item" ng-repeat="(key,comment) in commentsByEmployee" on-hold="showMenu($event, $index)">
		       	<h1><p>{{comment.comment}}</p></h1>
		       	<p>{{comment.creationDate}}</p>
		       	<p>{{comment.pm}}</p>
		       	<p>{{comment.id}}</p>
		    </a>
	    </div>
	</ion-content>
 </ion-view>

