 <ion-view view-title="Vates Employees">
 <ion-content ng-controller="EmployeeListCtrl">
    <div class="list">
           <div class="item" ng-repeat="(key, employee) in employees" ng-click="showComments(key)" on-hold="showMenu()">
                  <h2><i class="icon ion-person"> {{employee.name}} {{employee.lastName}}</i></h2>
                  <p><i class="icon ion-briefcase"> {{employee.project.name}}</i></p>
                  <p><i class="icon ion-wrench"> {{employee.role}}</i></p>
                  <p><i class="icon ion-email">    {{employee.email}}</i></p>
                  <p><i class="icon ion-man"> {{employee.pm}}</i> </p>
                  <p><i class="icon ion-ios-telephone">{{employee.cellular}}</i></p>
          </div>       
    </div>
 </ion-content>
</ion-view>