 <ion-view view-title="Vates Employees">
 <ion-content ng-controller="employeeCtrl">
    <div class="list">  
            <ul>
              <li>
                <a class="item" ng-repeat="employees in employee">
                  <h2>Nombre: {{employees.name}} {{employees.lastName}}</h2>
                  <p> Empresa: {{employees.project.name}}</p>
                  <p> Cargo: {{employees.role}}</p>
                  <p> Correo: {{employees.email}}</p>
                  <p> PM: {{employees.pm}} </p>
                  <p> </p>
                </a>
              </li>
            </ul>        
    </div>
 </ion-content>
</ion-view>