<ion-view view-title="New Comment">
<ion-content ng-controller="CommentAddCtrl">

<form name="frmNewComment" ng-submit="add()">

<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Employee</span>
    <span class="input-label">{{selectedEmployee.name | capitalize}} {{selectedEmployee.lastName | capitalize}}</span>
  </label>
  <label class="item item-input item-stacked-label">
      <span class="input-label">Comment Date</span>
      <input type="date" ng-model="commentDate">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Comment</span>
    <textarea ng-model="comment" placeholder="insert text here..."></textarea>
  </label>
</div>
<div class="row">
  <div class="col"></div>
  <div class="col"><button type="submit" class="button button-large button-balanced">Save</button></div>
  <div class="col"></div>
  <div class="col"><button ng-click="cancel()" class="button button-large button-assertive">Cancel</button></div>
  <div class="col"></div>
</div>

</form>

</ion-content>
</ion-view>